/* FÄRGPALETT*/
:root {
    /* CSS HEX */
--space-cadet: #22223bff;
--ultra-violet: #4a4e69ff;
--rose-quartz: #9a8c98ff;
--pale-dogwood: #c9ada7ff;
--isabelline: #f2e9e4ff;

}
/* Layoutens utseende */
body {
    background-color: rgb(255, 255, 255);

}
.Kontainer{
    background-color: #4af0da;
    width: 700px;
    padding: 50px;
    margin: auto;
    margin-top: 20px;

}
.inlägg{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-bottom: 40px;

}
/* Innehållets utseende */
h1{

}
h2{

}
image{
    width: 100%;

}
.datum {

}
p{

}

